.container {
    img {
      width: 100vw;
    }

  article {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem 4rem;

    h1 {
      margin-top: 5rem;
      font-size: 3rem;
      color: var(--white-700);
      font-weight: bold;
      line-height: 3.625rem;
    }

    .contentContainer {

      .publicationInformationsContainer {
        display: flex;
        margin-top: 2rem;
        font-size: 0.875rem;
        color: var(--gray-500);
        line-height: 1.06rem;

        svg {
          margin-right: 0.656rem;

          & + span, & + time {
            margin-right: 1.708rem;
          }
        }
      }
    }

    .lastPublication {
      margin-top: 1rem;
      display: block;
      font-size: 0.875rem;
      color: var(--gray-500);
      line-height: 1.06rem;
    }

    .postContentContainer {
      margin-top: 4.125rem;

      font-weight: 400;
      line-height: 1.575rem;
      color: var(--gray-200);
      text-align: justify;

      section {
        margin-top: 4rem;
      }

      p {
        margin-top: 1.25rem;
        font-weight: 400;
      }

      a {
        color: var(--pink-800);
        font-weight: 400;
      }

      strong {
        font-weight: 700;
      }

      img {
        width: 100px;
        height: 100px;
      }

      h1, h2 {
        font-weight: 700;
        line-height: 1.575rem;
        font-size: 2.25rem;
        color: var(--white-700);
        margin-bottom: 3rem;
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      border-top: 2px solid rgba(255, 255, 255, 0.1);
      padding: 2rem 0 2rem;
      margin-top: 3rem;

       a {
        & + a {
          text-align: right;
        }

        display: flex;
        flex-direction: column;
        width: 30%;
        color: var(--gray-500);

        strong {
          color: var(--pink-800);
          margin-top: 0.5rem;
        }

        transition: filter 2s;

        &:hover {
          filter: brightness(0.7);
        }
       }
    }
  }

}
